.wcn{
font-size:15px;
color:#ffffff;
}
.save{
    color:#03a9f4;
    font-size:20px;
    margin-left:-6px;

}
.home{
    color:#222222;
    font-size:20px;
    margin-left:-6px;

}
.settings{
    color:#607d8b;
    font-size:20px;
    margin-left:-6px;

}
.undo{
    color:#222222;
    font-size:20px;
    margin-left:-6px;

}
.redo{
    color:#222222;
    font-size:20px;
    margin-left:-6px;

}
.share{
    color:#ff5722;
    font-size:20px;
    margin-left:-6px;

}
.build{
    color:#673ab7;
    font-size:20px;
    margin-left:-6px;

}
.play{
    color:#4caf50;
    font-size:20px;
    margin-left:-6px;

}
.polymer{
    color:#2196f3;
    font-size:20px;
    margin-left:-6px;

}
.pick{
    color:#9c27b0;
    font-size:20px;
    margin-left:-6px;

}
.devmode{
    color:#ff9800;
    font-size:20px;
    margin-left:-6px;

}
.lock{
    color:#607d8b;
    font-size:20px;
    margin-left:-6px;

}
.devices{
    color:#222222;
    font-size:20px;
    margin-left:-6px;

}
.dns{
    color:#8bc34a;
    font-size:20px;
    margin-left:-6px;

}
.ins{
    color:#03a9f4;
    font-size:20px;
    margin-left:-6px;

}
.err{
    color:#f44336;
    font-size:20px;
    margin-left:-6px;

}
.wrn{
     color:#f44336;
    font-size:15px;

}
.embt{

    color:#333333;
    font-size:20px;
}
.nembt{
    color:#eeeeee;

}
.nembt1{
    color:#eeeeee;

}
.nembt2{
    color:#eeeeee;

}
.nembt3{
    color:#eeeeee;

}
.nembt4{
    color:#eeeeee;

}
.nembt5{
    color:#eeeeee;

}
.white{
    color:#ffffff;
}
.updicon{
    color:#ffb300;
    font-size:30px;
    margin-top: 20px;
    margin-left: 20px;
}
