.controls{
background:#262626;
}
.toolbar{
background:#282828;
border-bottom:1px solid #262626;
}
.idbt{
    border:none;
    background:#474747;
}
.idbt:hover{
    border:none;
    background:#434343;
}
.idbt:active{
    border:none;
    background:#474747;
}
.tab {
 border-right:1px solid #262626;
    background-color: #262626;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: transparent;
    color: black;
}
.tab button:hover {
    background-color: #282828;
}
.tab button.active {
    background-color: #474747;
    border-radius:0px 15px 15px 0px;
}
.tabcontent {
    border-right:1px solid #262626;
}
body {
    background:#232323;
}
#title-bar {
 background-color: #232323;
}
#title {
    font-family: 'Roboto', sans-serif;
    color:#fff;
}
#title-bar-btns {
    color:#ffffff;
}
#title-bar-btns .btn:hover {
    background-color:#333333;
}
.btn{
    background:transparent;
}

.dropdown:hover .dropbtn {background-color: #232323;}
.dropdown2:hover .dropbtn2 {background-color: #232323;}
.dropdown3:hover .dropbtn3 {background-color: #232323;}
.dropdown4:hover .dropbtn4 {background-color: #232323;}
.dropdown5:hover .dropbtn5 {background-color: #232323;}
.dropdown6:hover .dropbtn6 {background-color: #232323;}
.dropdown65:hover .dropbtn65 {background-color: #232323;}
.home{
    color:#eeeeee;
}
.settings{
    color:#eeeeee;
}
.undo{
    color:#eeeeee;
}
.redo{
    color:#eeeeee;
}
.build{
    color:#ab47bc;
}
.devices{
    color:#eeeeee;
}
.lock{
    color:#eeeeee;
}
.emulator{
  background:#232323;
}
.vertspacerboi{
      background:#262626;
}
.controlbar{
    background:#282828;
    width:100%;
    height:32px;
color:#eeeeee;
}
.embt{
  color:#eeeeee;
}
.input{
  background:#444444;
  color:#eeeeee;
}
